.about-us {
    padding: 80px 20px;
    max-width: 70%;
    margin: 100px auto;
}

.goal-section,
.team-section,
.contact-section {
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 80px;
}

.goal-section h2,
.goal-section h3,
.team-section h3,
.contact-section h2 {
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.goal-section p {
    margin: 10px 0;
    font-size: 18px;
    color: black;
    line-height: 1.8;
    text-align: center;
}


.contact-section .contact-item {
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.contact-section i {
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    color: #333;
    font-size: 20px;
    display: inline-block;
}

.profile-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.profile {
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 250px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile h3 {
    font-size: 20px;
    margin-top: 10px;
}

footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color:  rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
<<<<<<< HEAD
}
=======
}

.my-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .my-button:hover {
    background-color: #45a049;
  }
  
>>>>>>> 23980bbe21bd7c8420101e7f009519d5c498a810
