body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 200px;
}

button.main-action-button {
    width: 100%;
    padding: 12px;
    background-color: #e32800;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


form button:hover {
    background-color: #e32800;
}

.table-container {
    margin-top: 70px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #e32800;
    color: white;
}

td {
    background-color: #f9f9f9;
}

tr:nth-child(even) td {
    background-color: #f1f1f1;
}

tr:hover td {
    background-color: #e1e1e1;
}


/* Search and Filter */

.search-filter-wrapper {

    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    position: absolute;
    top: 90px;
    right: 22px;
    z-index: 100;
}

.search-box {
    position: relative;
    width: 500px;
}

.search-box input[type="text"] {
    width: 150px;
    padding: 10px 50px 10px 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.search-box button {
    position: absolute;
    right: -60px;
    top: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0;
}

.filter-dropdown {
    position: relative;
}

.filter-dropdown select {
    padding: 10px 25px 8px 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
    appearance: none;
    background-color: white;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaxmDtsdkYsDaSCyS4rA6XEBpgcrz8zi5Efw&s');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 8px center;
}